{% extends "base.html" %}

{% block body %}
    {% for i in video %}
        <div class="col d-flex justify-content-center">
            <div class="row" style="margin-top:70px; margin-bottom:-40px">
                <div class="card m-2" width="1rm" style="max-width:353px; max-height:700px;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title right">{{i.name}}</h5>
                        <p class="card-text right">{{i.description}}</p>
                        <a href="{% url 'home:video_detail' i.slug %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>No results found</h1>
    {% endfor %}
{% endblock body %}